extends layout
include ./includes/message.jade

block content
  h1.header Lurkdis 2.0
  h3.secondary It's back and better than ever!
  h3.links
    a(href="https://github.com/maxpowa/lurkdis") github
    |  | 
    a(href="https://robertsspaceindustries.com/enlist?referral=STAR-VHBG-Q957") enlist
    |  | 
    a(href="https://discord.gg/0dOJaNbubQie6CZN") discord

  .messages.infiniscroll
    include ./includes/messages.jade
  br
  .footer
    | Infiniscroll™ loading...
  .toast
    span CTRL+C to copy message
  script(type='text/javascript')
    | var last = !{last.timestamp.getTime()};
  script(type='text/javascript', src="/javascripts/infiniscroll.js")
  script(type='text/javascript', src="/javascripts/clipintegration.js")
