doctype html

//
  Hey you! Yeah you, snoopin' up in this page! Just look at the sourcecode
  instead... https://github.com/maxpowa/lurkdis

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.2.4.min.js')
    script(src='/javascripts/imagelightbox.min.js')
    script(src='/javascripts/clipboard.min.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
    script
      | $(function() {
      |     $( 'a[data-lightbox]' ).imageLightbox();
      | });
